extends layout

block content
  h1= title

  h2 Creating a new poll
  form(action="/polls/create", method="post")
    input(type="text", name="question")
    input(type="submit")

  h2 Polls

  ul
  each poll in polls
    li
      = poll.question
      | &nbsp;
      | (
      a(href="/polls/" + poll.id + "/destroy") Destroy
      | )
      ul
        li
          | Add option:
          form(action="/polls/" + poll.id + "/choice/create", method="post", style="display: inline")
            input(type="text", name="option")
            input(type="submit")

        each choice in poll.Choices
          li
            = choice.option
            | &nbsp;
            | (
            a(href="/polls/" + poll.id + "/choice/" + choice.id + "/destroy") Destroy
            | )
