<!doctype html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <% include ./partials/navbar %>
  <body>
    <div class="container">
      <div class="container">
        <h1><%= title %></h1>
      </div>
      <div class="container">
        <form action="/polls/create", method="post" class="form-inline">
          <input type="text" name="question" class="form-control"/>
          <input type="submit" class="btn btn-default"/>
        </form>
      </div>
    </div>
  </body>
  <% include ./partials/footer %>
</html>
