extends layout

block content
  h1 Voting App

  h2= title

  ul
  each poll in polls
    li
      a(href="/polls/" + poll.id + "/show") #{poll.question}
      | &nbsp;
      | (
      a(href="/polls/" + poll.id + "/destroy") Destroy
      | )
  li
    a(href="/polls/create") Add New Poll
