.navbar {
  padding-right: 10px;
}

.form-inline {
  display: inline;
}

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 10px;
  height: 75px;
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
}
